<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Title</title>
<style>
    body {
      text-align: center;
    }
    section {
      margin-left:25rem;
      left:50%;
    }
    form {
     background-color:red;
     width: 50rem;
    }
</style>
<script type="text/javascript">
</script>
</head>
<body>
<h1>URL Cutter</h1>
<h3>insert url to convert</h3>
<section>
<form>
  <div class="form-group">
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="url input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">shortcut</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="generated url">
  </div>
    <input type="button" id="copybtn" name="copybtn" value="copy shortcut">
</form>
  </section>
</body>
<script type="text/javascript">

</script>
</html>